__pycache__

.devcontainer

notebooks/vocabulary/gpt2_tokenizer

# Distribution / packaging
build/
dist/
*.egg-info/
data/
# binaries
*.so

# tmp files
*.swp

# AML workspace config file
config.json

.coverage_*
*~
slurm*
logs

# Data folder
bookcorpus_data/